<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.maass.android.imgur_uploader" android:versionName="1.2.1"
	android:versionCode="4" android:installLocation="auto">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<BroadcastReceiver android:name="LaunchUploadDummy" android:label="@string/app_name"
			android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.GADGET" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</BroadcastReceiver>
		<service android:name="ImgurUpload">
		</service>
		<activity android:label="@string/launcher_name" android:name="History">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>

		<activity android:name="LaunchedInfo"></activity>
	<activity android:name=".ImageDetails"></activity>
<activity android:name="ImgurPreferences"></activity>
</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET" />

</manifest> 